{% extends "layout.html" %}
{% block body %}
<div class="row">
   <div class="span12">

      <table class="table table-condensed table-hover">
         <thead>
         <tr>
            <th>Copy</th>
            <th>Name</th>
            <th>Size</th>
            <th>Delete</th>
         </tr>
         </thead>
         <tbody>
         {% for depth, entry, name, size, copied, seen, fidx in entries %}
            <tr class="{{fidx}}">
                <td>
                    <button class="win-command win-command-small">
                        <span class="copy win-commandicon win-commandring icon-copy-3
                            {% if copied %}
                            btn-info
                            {% elif seen %}
                            btn-primary
                            {% endif %}"
                            data-target="{{ entry }}"></span>
                    </button>
                </td>
                <td>
                    {% for i in range(depth) %}={% endfor %}{% if depth > 0 %}&gt;
                    {% else %}<p class="text-info">{% endif %}
                        {{ name }}
                    {% if depth == 0 %}</p>{% endif %}
                </td>
                <td>
                    {{ size }}
                </td>
                <td >
                    <button class="win-command win-command-small">
                        <span class="delete win-commandicon win-commandring icon-trash
                            btn-danger" data-target="{{ entry }}"></span>
                    </button>
                </td>
            </tr>
         {% endfor %}
         </tbody>
      </table>

   </div>
</div>


{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
