{% extends "layout.html" %}
{% block body %}
<div class="row">
   <div class="span12">

      <table class="table table-condensed table-hover">
         <thead>
         <tr>
            <th>Extract</th>
            <th class="span2">Name</th>
            <th>Size</th>
            <th class="span2">Archive</th>
            <th class="span2">Folder</th>
         </tr>
         </thead>
         <tbody>
         {% for rar in rars %}
            {% for archive in rar.archives %}
                {% for file in archive.files %}
                    <tr>
                        <td>
                            <button class="win-command win-command-small">
                                <span class="extract win-commandicon win-commandring icon-export
                                    {% if file.extracted %}
                                    btn-info
                                    {% endif %}
                                    " data-target="{{ file.name }}/{{ archive.path }}"></span>
                            </button>
                        </td>
                        <td class="span2">
                            <a href="/s/{{ file.name }}">
                                {{ file.name }}
                            </a>
                        </td>
                        <td>
                            {{ file.size }}
                        </td>
                        <td class="span2">{{ archive.name }}</td>
                        <td class="span2">{{ rar.folder_name }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
         {% endfor %}
         </tbody>
      </table>

   </div>
</div>


{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
