{% extends "layout.html" %}
{% block body %}
<div class="row">
   <div class="span12">

      <table class="table table-condensed table-hover">
         <thead>
         <tr>
            <th>Copy</th>
            <th class="span2">Name</th>
            <th>Size</th>
            <th>Delete</th>
         </tr>
         </thead>
         <tbody>
         {% for depth, entry, name, size in entries %}
            <tr>
                <td>
                    <button class="win-command win-command-small">
                        <span class="extract win-commandicon win-commandring icon-export
                            
                            " data-target="{{ entry }}"></span>
                    </button>
                </td>
                <td class="span2">
                        {% for i in range(depth) %}-{% endfor %} {{ name }}
                </td>
                <td>
                    {{ size }}
                </td>
                <td >del</td>
            </tr>
         {% endfor %}
         </tbody>
      </table>

   </div>
</div>


{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
