<table>
    <tr>
        <td>
            Title: {{ imdbinfo.title }} <br/>
            {% if minfo.mtype == 'TV' %}
                Season: {{ minfo.season }}/{{ imdbinfo.get_seasoncount() }} <br/>
                Episode: {{ minfo.ep }}/{{ imdbinfo.seasons[minfo.season] }} <br/>
            {% endif %}
            Year: {{ imdbinfo.year }} <br/>
            Rating: {{ imdbinfo.rating }} <br/>
        </td>
        <td>
            <img src="/imdbimg/{{ imdbinfo.image }}"/>
        </td>
    </tr>
</table>
